@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/Resources/gestionBanner2.png" />
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Proyecto</h2>
        <ul>
            <li>La aplicación permitirá la programación y gestión de una renovación tecnológica de microinformática HW en una organización, debe quedar configurable para administrar diferentes tipos de dispositivos como laptops, desktop, impresoras, multifuncionales, datafonos, puntos de venta o celulares entre otros y poder ser utilizada para administrar escenarios distribuidos para compañías con varias sedes nacionales. </li>            
        </ul>
    </div>
</div>
